SECRET_KEY=
DJANGO_SETTINGS_MODULE=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PWD=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=smiron1703@gmail.com
EMAIL_HOST_PASSWORD=
EMAIL_TIMEOUT=

CELERY_BROKER=
CELERY_BACKEND=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_URL=

TIKNOFF_MAPI_BASE_URL=
TINKOFF_TERMINAL_KEY=
TINKOFF_TERMINAL_PASSWORD=
TINKOFF_SUCCESS_URL=
TINKOFF_FAIL_URL=
TINKOFF_NOTIFICATION_URL=
