.ChooseCourseShimmer {
	@apply bg-white rounded-lg p-5;

	.image {
		width: 100%;
		height: 295px;
		margin-bottom: 16px;
	}

	.content {
		margin-bottom: 18px;
	}

	h2 {
		@apply mb-3 w-60p h-[16px];
	}

	p {
		@apply w-70p h-[24px];
	}

	.footer {
		@apply flex justify-between items-center;
	}

	h4 {
		@apply w-20p h-[16px];
	}

	.details {
		@apply w-30p h-[16px];
	}
}

.button {
	@apply rounded-full w-[100px] h-[40px];
}
