.companies {
	@apply mb-28;
	h1 {
		@apply font-bold;
		font-size: 39px;
		line-height: 47px;
		max-width: 30%;
		margin: 0 auto 28px;
		text-align: center;
	}
	.row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
	}
	.image {
		position: relative;
		height: 100px;
	}
}
