.header {
	padding: 30px 0;
	border-bottom: 1px solid #e5f1ff;
	.row {
		display: flex;
		align-items: center;
		.logo {
			width: 175px;
			height: 40px;
			position: relative;
			margin-right: 9.6%;
		}

		.avatar {
			@apply bg-blue-50 text-gray w-[50px] h-[50px] flex justify-center items-center rounded-[50%] uppercase font-bold text-xl;
		}

		.MenuItem {
			@apply flex gap-7 mr-7;
			.link {
				@apply text-base text-textColor hover:text-blue-400 font-medium transition whitespace-nowrap;
			}
			.linkActive {
				color: rgb(0 91 188 / var(--tw-text-opacity));
				padding-bottom: 1px;
				position: relative;
				white-space: nowrap;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: rgb(0 91 188 / var(--tw-text-opacity));
				}
			}
		}
	}
}
