.PersonalArea {
	display: grid;
	grid-template-columns: 0.21fr 1fr;
	gap: 40px;
	@apply bg-grayAdmin-50;
	height: 100%;
	font-family: 'Formular';
	overflow: hidden;
	.wrapper {
		padding: 25px 0;
		overflow-y: auto;
		.bodyWrap {
			width: 90%;
		}
	}
}
