.header {
	@apply flex justify-between items-center mb-8 relative pb-4;

	.searchWrapper {
		flex: 0 1 50%;
		position: relative;
		.searchItem {
			@apply w-70p relative;
			input {
				@apply text-grayMedium font-medium py-4 px-5 rounded-4 bg-white w-full text-base transition;
				border: 1px solid transparent;
				height: 56px;
			}
			.searchButton {
				@apply absolute top-[50%] right-0;
				transform: translateY(-50%);
			}
		}
	}

	&::after {
		content: '';
		@apply bg-blue-50 absolute h-[1px] bottom-0 left-[-40px] z-10;
		width: calc(100% + 40px);
	}
	.profile {
		@apply flex items-center;
	}
	.img {
		@apply w-[65px] h-[65px] relative mr-3 flex justify-center items-center bg-blue-50 rounded-[50%];
		img {
			@apply rounded-[50%];
		}
		h2 {
			@apply text-[20px] text-gray font-bold;
		}
	}

	.content {
		@apply mr-10;
		h1 {
			@apply mb-1 text-xl font-bold;
			line-height: 24px;
		}

		span {
			@apply text-base text-gray font-normal relative;
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				top: 50%;
				right: -16px;
				transform: translateY(-50%);
				@apply bg-cyan-400;
				border-radius: 50%;
				width: 8px;
				height: 8px;
			}
		}
	}

	.icons {
		@apply text-gray flex gap-3;
	}

	.icon {
		@apply cursor-pointer transition-all;
		&:hover {
			transform: scale(1.1);
		}
	}

	.dropdownWrapper {
		@apply relative;
		.dropdown {
			@apply absolute right-0 w-[210px] bg-white py-3 px-2 z-20 rounded-[10px];
			top: calc(100% + 14px);
		}

		.list {
			@apply flex flex-col gap-2;
		}

		.item {
			@apply flex justify-between items-center transition px-2 py-1 rounded-4 bg-transparent;
			&:hover {
				@apply bg-blackOpacity-0.5;
				.navigation {
					transform: scale(1.1);
				}
			}
		}

		.title {
			@apply text-base text-black font-normal;
		}

		.navigation {
			@apply w-[27px] h-[27px] rounded-[50%] bg-lightGray flex justify-center items-center transition;
			svg {
				width: 18px;
				height: 18px;
				@apply text-blue-400;
			}
		}
	}
}
